@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Modak&display=swap");
:root {
  --navbar-bg-color: linear-gradient(
    90deg,
    rgb(111, 185, 255) 0%,
    rgb(6, 75, 131) 100%
  );
  --navbar-text-color: #ffffff;
  --mb-1: 1rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-0-25: 0.25rem;
  --mb-3: 3rem;

  /* Font family */
  --title-font: "DynaPuff", system-ui;
  --body-font: Arial, sans-serif;

  --h1-font-size: 3rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.95rem;
  --smaller-font-size: 0.85rem;

  /* Font weight */
  --font-medium: 500;
  --font-semi-bold: 600;

  --first-color: #57b7e0;
  --input-color: #202a56;
}
.modak-regular {
  font-family: "Modak", system-ui;
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

body {
  margin: 0;
  padding: 0;
  /* width: 100%;
  height: 100%;
  overflow: hidden; */
  transition: background-color 0.3s ease; /* Smooth transition for theme */
}

body.light {
  /* background-color: rgb(175, 214, 250);; */
  --item-bg: linear-gradient(to right, #1fa2ff 0%, #12d8fa 51%, #1fa2ff 100%);
  --primary-text-color: #000;
  --secondary-text-color: #3f3f3f;
  --calendar-color: #000000;
}

/* Global Dark Theme */
body.dark {
  /* background-color: #1f1d38; */
  --item-bg: linear-gradient(to right, #261d5f 0%, #3b34f7 51%, #281568 100%);
  --primary-text-color: #ffffff;
  --secondary-text-color: rgb(178, 184, 189);
  --calendar-color: #ffffff;
}
.app-container {
  position: relative;
  width: 100%;
  height: 100%;
}
video {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.theme-toggle-btn {
  background: none;
  border: none;
  color: inherit;
  font-size: 1.2rem;
  cursor: pointer;
}
.theme-toggle-btn:focus {
  outline: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.section {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.section-title {
  font-size: var(--h1-font-size);
  padding-top: 20px;
  text-align: center;
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-family: var(--title-font);
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.section-subtitle {
  display: block;
  font-family: var(--title-font);
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-3);
  text-align: center;
  color: var(--secondary-text-color);
}

/* HOMEPAGE */
.image-container {
  position: relative;
  text-align: center;
  display: grid;
  place-items: center;
}
.background-image {
  width: 100%;
  size: 100vw 100vh;
}
.text-overlay {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(31, 31, 31, 0.7);
  border-radius: 50%;
  padding: 35px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: var(--body-font);
  /* text-align: center;
  flex-direction: column;
  align-items: center; */
}
/* .icon-container {
  position: relative;
  color: #6fb9ff;
  font-size: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-content {
  position: absolute;
  color: white;
  text-align: center;
  font-size: 24px;
} */

.text-overlay h1 {
  font-size: 70px;
  color: rgb(111, 185, 255);
}

.text-overlay p {
  font-size: 20px;
}
/* END HOMEPAGE */

/* ABOUT */
.about {
  padding: 10px 70px;
}
.profile-container {
  display: flex;
  gap: 40px;
  align-items: center;
  flex-wrap: wrap;
}
.profile-text {
  flex: 1;
  margin-top: 0;
  font-size: 1.1rem;
  line-height: 1.6;
  color: var(--primary-text-color);
}
.profile-description {
  margin-bottom: 20px;
}

.btn-container {
  display: flex;
  gap: 30px; /* Space between buttons */
  justify-content: center; /* Center buttons in the container */
  margin-top: 70px;
}

button {
  padding: 10px 20px; /* Button padding */
  font-size: 1rem; /* Font size */
  font-family: var(--title-font) !important;
  border-radius: 50px;
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s, transform 0.3s; /* Smooth transition */
  color: white; /* Text color */
  background-color: rgb(6, 75, 131);
}
.btn-effect {
  background: linear-gradient(to right, #1fa2ff 0%, #12d8fa 51%, #1fa2ff 100%);
  background-size: 200% auto;
  transition: all 0.5s ease-in-out;
}
/* Hover effects */
button:hover {
  background-position: right;
  background-color: rgb(4, 60, 100);
  transform: translateY(-2px);
  scale: 1.1;
}

button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
/* END ABOUT */

/* QUALIFICATION */
.qualification {
  padding: 20px;
}
.qualification-tabs {
  display: inline-flex;
  gap: 300px;
  margin-top: 50px;
  margin-bottom: 30px;
  color: var(--primary-text-color);
}
.qualification-button {
  justify-content: space-evenly;
  margin-bottom: var(--mb-2);
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  cursor: pointer;
}

.qualification-button:hover {
  color: var(--first-color);
}

.qualification-icon {
  font-size: 1.8rem;
  margin-right: var(--mb-0-25);
}

.qualification-button.qualification-active {
  color: var(--first-color);
}

.qualification [data-content] {
  display: none;
}

.qualification-active[data-content] {
  display: block;
}

.qualification-data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
}
.qualification-data-pcs {
  text-align: center;
  margin-top: 0px;
}

.qualification-title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  color: var(--primary-text-color);
  margin-bottom: 5px;
}

.qualification-subtitle a {
  display: inline-block;
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-1);
  margin-top: 0px;
  color: rgb(85, 107, 185) !important;
}
.qualification-subtitle a:hover {
  color: var(--first-color);
}

.qualification-calendar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--small-font-size);
  color: var(--calendar-color);
  gap: 10px;
}

.qualification-rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--primary-text-color);
  border-radius: 50%;
  z-index: 1;
}

.qualification-line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--primary-text-color);
  transform: translate(6px, -7px);
}
/* END QUALIFICATION  */

/* PROJECT */
.project {
  padding: 20px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #1f98f4;
}

.swiper-pagination-bullet-active {
  background-color: #1f98f4;
}
.cards {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.swiper-button-next,
.swiper-button-prev {
  color: #1f98f4;
}

.swiper-pagination-bullet-active {
  background-color: #1f98f4;
}

h1 {
  text-align: center;
}

.cards__container {
  margin-top: 50px;
  width: 100%;
}

.cards__wrapper {
  position: relative;
  margin: 50px 0 45px;
}

.cards__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
  background: var(--item-bg);
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
}
.cards__item:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.cards__item__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.cards__item__pic-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  padding-top: 67%; /* Adjust as necessary for desired aspect ratio */
  overflow: hidden;
  position: relative;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.cards__item__pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #1f98f4;
  box-sizing: border-box;
}

.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.cards__item__img:hover {
  transform: scale(1.1);
}

.cards__item__info {
  padding: 20px;
  text-align: center;
}

.cards__item__text {
  color: var(--primary-text-color);
  font-size: 18px;
  line-height: 24px;
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
}

/* CONTACT ME */
.contact {
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  padding: 20px;
}
.contact-container {
  row-gap: 3rem;
}
.contact-items {
  display: flex;
  justify-content: space-around;
}
.contact-information {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: var(--mb-2);
}
.contact-icon {
  font-size: 2rem;
  color: var(--first-color);
  margin-right: 10px;
}

.contact-title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  color: var(--primary-text-color);
}

.contact-subtitle {
  font-size: var(--small-font-size);
  color: var(--secondary-text-color);
}

.contact-content {
  background-color: var(--input-color);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem 0.25rem;
}

.contact-label {
  font-size: var(--smaller-font-size);
  color: var(--title-color);
  text-align: left !important;
  display: block;
}

.contact-input {
  width: 100%;
  background-color: var(--input-color);
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border: none;
  outline: none;
  padding: 0.25rem 0.5rem 0.5rem 0;
}
.contact-subtitle a {
  display: inline-block;
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-1);
  margin-top: 0px;
  color: var(--secondary-text-color);
}
.contact-subtitle a:hover {
  color: var(--first-color);
}
.grid {
  display: grid;
  gap: 1.5rem;
}
.contact-form {
  grid-template-columns: 1fr;
}
.contact-inputs {
  grid-template-columns: 1fr 1fr;
}
.contact-button {
  display: flex;
  justify-content: center;
}
